body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    background-image: url("../images/balloon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.jumbotron, .card {
    padding-top: 0px;
    background: none;
}

.answer {
    display: block;
    margin: 10px;
    
}

.card-body {
    margin: auto;
}


.jumbotron-fluid {
}
.col-9 {
}
.display-3 {
}
.col-3 {
}
.time-remaining {
}
.correct {
}
.wrong {
}
.rules-text {
}
.col {
}
.category {
}
.card {
}
.card-img-top {
}
.card-body {
}
.card-title {
}
.question {
}
.card-text {
}
.question-text {
}
.answer-text {
}
.lead {
}
.btn {
}
.btn-primary {
}
.btn-lg {
}
.start {
}
